@import url("solarized-dark.css");

pre {
  font-family: Inconsolata, monospace;
}

html {
  background-color: #002b36;
  font-size: 1.1em;
  margin-top: 0;
}

body {
  border: 0;
  font-size: 100%;
  margin-top: 0;
  padding-top: 0;
  max-width: 750px;
}

h1 {
  font-size: 120%;
}

h2 {
  font-size: 110%;
}

h3, pre {
  font-size: 100%;
}

h4 {
  font-size: 90%;
}

h5, h6 {
  font-size: 90%;
}

a {
  text-decoration: none;
}

pre {
  border: none;
  box-shadow: none;
}

.console {
  font-family: Inconsolata, monospace;
}

.console ul {
  padding: 0;
  margin-left: 18px;
}

.console span.dir {
  padding: 0 10px 0 0;
}

pre.highlight {
  border: 1pt solid #586e75;
  box-shadow: 5pt 5pt 8pt #002b36;
}

.prompt {
  /* .highlight .k - Keyword */
  color: #859900;
}

.navbar {
  height: 32px;
  line-height: 32px;
  background-color: #073642;
  font-size: 16px;
}

.navbar #logo img {
  width: 32px;
  height:: 32px;
  margin-right: 5px;
  float: left;
}

.navbar #nav-menu {
  float: right;
}

.navbar #nav-menu a {
  padding: 0 5px 0 5px;
}

.navbar #nav-menu .active {
  background-color: #d48321;
}

.post-meta {
  margin-bottom: 20px;
  font-style: italic;
  font-size: 90%;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.tag_box.inline li {
  line-height: 2em;
  float: left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed;
}

footer {
  font-size: 80%;
  text-align: center;
}

.page-header {
  border: 0;
  margin: 0;
}
