{
	order forward_proxy before file_server
}

# NOTE! Automatically applied cert and key will be stored in
# ~/.local/share/caddy, back them up when needed!
#
:443, __DOMAIN__ {
	tls __USER__@users.noreply.github.com
	forward_proxy {
		basic_auth __USER__ __PASS__
		hide_ip
		hide_via
		probe_resistance
	}
	reverse_proxy https://19x19.com {
		header_up Host {upstream_hostport}
		header_up X-Forwarded-Host {host}
	}
}
