{
    order forward_proxy before file_server
}

:443, __DOMAIN__ {
    tls __USER__@users.noreply.github.com
    forward_proxy {
        basic_auth __USER__ __PASS__
        hide_ip
        hide_via
        probe_resistance
    }
    file_server {
        root __FILE_SERVER_PATH__
    }
}
