<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} &gt; {{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href=" {{ site.url }}{{ page.url }}" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="shortcut icon" href="/assets/site/nose-16x16.jpg">

    <!-- rss feed -->
    <link href="{{ site.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
  </head>

  <body>
    {{ content }}
    {% include google-analytics %}
  </body>
</html>
