---
layout: base
---

<nav class="navbar" role="navigation">
  <span id="logo">
    <a href="/"><img src="/images/nose-96x96.jpg" /></a>
  </span>

  <span id="headline">
    <a href="/">{{ site.headline }}</a>
  </span>

  <span id="nav-menu">
      {% assign site_pages = site.pages | where:"group","navigation" | sort:"order" %}
      {% for p in site_pages %}
        {% if page.url == p.url %}
          <span class="active"><a href="{{p.url}}">{{p.title}}</a></span>
        {% else %}
          <span><a href="{{p.url}}">{{p.title}}</a></span>
        {% endif %}
      {% endfor %}
  </span>
</nav>

<div class="container">

  <div class="content">
    {{ content }}
  </div>
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.author }} | JOYUS.ORG</p>
  </footer>

</div>
