---
layout: default
---

<div class="row-fluid">
  <div class="span12">

    <div class="page-header">
      <h2>{{ page.title }}</h2>
    </div>

    <div class="post-meta">
      <span class="icon-user"></span>
      <span><a href="{{ site.site_url }}">{{ site.author }}</a></span>

      <span class="icon-time"></span>
      <span>{{ page.date | date: "%B %-d, %Y" }}</span>

      {% unless page.tags == empty %}
      <!-- page.tags is an Array -->
      {% for tag in page.tags %}
        <span class="icon-tag"></span>
        <span><a href="{{ site.tags_path }}#{{ tag }}-ref">{{ tag }} </a></span>
      {% endfor %}
      {% endunless %}
    </div>

    <div class="post-content">
      {{ content }}
    </div>

    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
      {% if page.next %}
        <li class="next"><a href="{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>

    {% include disqus-comments %}

  </div>
</div>
